*
{
    margin:0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
body{
    background-color:hsl(233, 47%, 7%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
#card
{
    background-color: hsl(244, 38%, 16%);
    height: 400px;
    width: 900px;
    border-radius:7px;
    display:flex;
}
.card1
{
    height: 100%;
    width:50%;
    color:white;
}
#image
{
    position:relative;
}
.x
{   
    height:100%;
    width:100%; 
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;;
    
}
img{
    position:absolute;
    top:0px;
    z-index:1;
}
#filter
{
    position:absolute;
    top:0px;
    z-index:2;
    background-color:rgb(170,92,219,0.4);
}
#para
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    color: hsla(0, 0%, 100%, 0.6);
    line-height:20px;
}
#content
{
    padding:50px 0px 50px 50px;
}
.p{
    margin-bottom:75px;
}
.box
{
    display:inline-block;
    margin-right:60px;
}
.inter-ansubha{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
  "slnt" 0;
}
h1{
    font-size: 28px;
}
@media(max-width:375px)
{
    body{
        background-color:hsl(233, 47%, 7%);
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: auto;
        width: 100vw;
    }
    #card
    {
        background-color: hsl(244, 38%, 16%);
        margin-top:40px;
        margin-bottom: 40px;
        height: auto;
        width: 300px;
        border-radius:7px;
        display:flex;
        flex-direction:column-reverse;
    }
    .card1
    {
        width:300px;
        color:white;
    }

    #image
    {
        height:200px;
    }
    .x{
        border-top-right-radius:7px;
        border-top-left-radius:7px;
        border-bottom-right-radius:0px;
    }
    h1{
        font-size: 24px;
        text-align:center;
    }
    #content
    {
        padding:50px 20px 50px 20px;
    }
    #para
    {
        text-align: center;
        font-family:Arial, Helvetica, sans-serif;
        font-size:12px;
        color: hsla(0, 0%, 100%, 0.6);
        line-height:24px;
    }
    .box
    {
        display:block;
        width:100%;
        margin-top:30px;
        text-align:center;
    }
}